<!DOCTYPE html>
<html>
<head>
    <title>Manage Applications</title>
</head>
<body>

<h2>Manage Applications</h2>

<form method="GET" class="mb-3">

<div class="input-group">

<input
type="text"
name="search"
class="form-control"
placeholder="Search by student name or job title"
value="{{ search_query }}">

<button class="btn btn-primary">
Search
</button>

</div>

</form>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Student</th>
        <th>Placement Drive</th>
        <th>Status</th>
    </tr>

    {% for app in applications %}
    <tr>
        <td>{{ app["id"] }}</td>
        <td>{{ app["student_name"] }}</td>
        <td>{{ app["drive_title"] }}</td>
        <td>{{ app["status"] }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/admin/dashboard">Back to Dashboard</a>

</body>
</html>